
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif ;
}
body{
    padding: 20px;
}

.header{
    top: 0;
    left: 0;
    padding: 40px 10px;
    position: fixed;
   
    z-index: 10000;
    transition: 0.6s;
    width: 100%;
}

.header-wrp{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header.sticky .header{
    /* padding: 5px 100px; */
    background: #fff;
}   

header.sticky .header nav ul li a{
    color: black;
}
header.sticky .header .logo img{
   color: #000;
}
 

.header nav ul{
    margin: 0;
    gap: 15px;
}

.header nav ul li{
    list-style: none;
    /* padding: 19px;
    margin-top: 20px; */
}
.header nav ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 700;

}
@media (max-width: 1214px) {
    nav {
      display: none;
    }
     .header .btn {
      display: none;
    }
  
    .header .icon .none{
      display: none;
    }
  
    header .icon .block{
      display: block;
      font-size: 30px;
      color: #fff;
    }
  
  }
  


.header .btn button{
    background-color: #bb9356;
    font-size: 15px;
    padding: 3px;
    font-weight: 700;
    color:#fff ;
    border: none;
}
.icon .none{
    color: #fff;
  }
  .icon .block{
    color: #fff;
  }

.banner{
    position: relative;
    width: 100%;
    height: 85vh;
    background: url(img/cont.jpg);
    background-size: cover;
   background-position: center;

}

.banner .btm-img{
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 13px;
    width: 124px;
    z-index: 3;
    margin-left: -62px;
    background: url(img/mini.jpg);
}

.banner-bg{
    position: absolute;
    background-color:rgba(34, 34, 34, 0.80);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

}

.banner .bn-title{
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, 0);

}

.banner .bn-title h6{
    color:#bb9356; 
    font-size:50px ;
    font-family: 'Ruthie', cursive;
    font-weight:400 ;
    line-height: 1;
    z-index: 1;
}

.banner .bn-title h1{
    font-size:45px ;
    font-weight: 700;
    line-height:1 ;
    color: #fff;
    z-index: 1;
    font-family: 'Abril Fatface',cursive;
}

header .sticky ul li a{
    color: #000;
}

header.sticky .logo img{
    background: #000;
}




#contact {
    margin-top: 110px;
}

#contact .contact-right .contact-right-text p {
    color: #a5a5a5;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
}

.contact-right-adress {
    padding-top: 18px;
}

.contact-right-adress h1 {
    font-size: 19px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 23px;
}

.contact-right-adress p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-bottom: 0;
    color: #a5a5a5;
}

.contact-right-adress span {
    color: #bb9356;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    transition: .5s ease;
    cursor: pointer;
}

.contact-right-adress span:hover {
    color: black;
}

.contact-right-adress .icon i {
    border: 1px solid black;
    color: #ffffff;
    padding: 10px;
    background-color: #000000;
    margin-right: 10px;
    transition: .5s ease;

}
.contact-right-adress .icon i:hover {
    transform: rotate(270deg);
    background-color: #bb9356;
    border: 1px solid #bb9356;
}

.forma .form input {
    padding: 15px 20px;
    border: 1px solid rgb(185, 184, 184);
    display: block;
    width: 100%;
    margin-top: 20px;
    font-size: 12px;
}

.forma a {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
    padding: 12px 20px;
    transition: 0.5s ease;
    font-weight: 500;
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}
.forma .btn input{
    padding: 50px 20px;
}
.forma a:hover{
    background-color: #bb9356;
}

#eight {
    margin-top: 100px;
  }
  #eight .generalEight .phtEight {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px;
    position: relative;
    margin-bottom: 25px;
    background-color: #dfdbdb;
    border-radius: 15px;
    transition: 0.5s ease;
    cursor: pointer;
    margin-right: 20px;
  }
  @media screen and (max-width: 768px) {
    #eight .generalEight .phtEight {
      width: 90%;
    }
  }
  #eight .generalEight .phtEight .imgIcon i {
    font-size: 35px;
    color: #fff;
    padding: 17px;
    border-radius: 50px;
    background-color: rgb(99, 98, 98);
  }
  #eight .generalEight .phtEight:hover {
    transform: translateY(-10px);
  }
  #eight .generalEight .phtEight .textEight {
    margin-top: 20px;
  }
  #eight .generalEight .phtEight .textEight h5 {
    text-align: center;
    color: black;
    font-weight: bold;
  }
  #eight .generalEight .phtEight .textEight p {
    font-weight: bold;
  }
  #eight .generalEight .phtEight .textEight h6 {
    font-weight: bold;
  }

  .footer{
    width: 100%;
    background: #222222;
    margin-top: 70px;

    
    
}
.footer .container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;


}.footer .top{
    padding : 50px 0;
}
 
.top .said1 h6{
    color:#fff;
    font-weight: 700;
    padding-left: 100px;
    margin-bottom: 30px;
}

.top .said1 .icons i{
    color: #fff;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    margin-right: 10px;
    background-color:#1c1c1c;
    
}

.top .said1 .icons  i:hover{
     background-color: #bb9356;
}

.said2 img{
    margin-bottom: 30px;
}
 
.said2 p{
    font-size:13px ;
    font-weight: 400;
    color: #a5a5a5;
}
.said3 h6{
    font-size: 15px;
    font-weight: 600px;
    color: #fff;
    margin-bottom: 30px;
}

.said3 .form-control{
    box-shadow: none;
    border: none;
    background-color: #1c1c1c;
    color: #474747;
    line-height: 42;
    height: 42px;
    width: 270px;
    font-style: italic;
    margin-left: 50px;
    position: relative;
     border-radius: 2px;

}

.footer .bootom{

    position: relative;
    padding: 42px 0;
    background: #1b1b1b;
}
.footer .bootom p{
    color: #a5a5a5;
    font-weight: 400;
}
.footer .bootom h6{
    color: #a5a5a5;
    font-weight: 400;
}